.container {
	display: inline-flex;
	width: 100%;
	justify-content: center;
	min-height: 5em;
}

.letter {
	font-size: 2em;
	font-family: xkcd-script;
	display: inline-block;
	margin: .25em;
	padding: .25em;
	text-transform: capitalize; 
}

.letter[data-actived=true]::before {
	content: attr(data-letter);
	display: inline-block;
	font-size: .85em;
	position: absolute;
	padding-left: 2px;
}