.container {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 5em;
    flex-wrap: wrap;
	gap: 1em;
}

.letter {
	font-size: 2em;
	font-family: xkcd-script;
	display: inline-block;
	padding: .30em;
	text-transform: capitalize; 
}

.letter[data-actived=true]::before {
	content: attr(data-letter);
	display: inline-block;
	font-size: .85em;
	position: absolute;
	padding-left: 2px;
}