.buttons {
	display: inline-flex;
	gap: 1em;
	width: 100%;
}

.button {
	font-family: xkcd-script;
	font-size: .8em;
	font-weight: bold;
	padding: 1em;
	background: rgba(0,0,0,.030);
	color: rgb(40, 40, 40);
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	width: 100%;

	/* Thanks to https://codepen.io/tmrDevelops/pen/VeRvKX*/
	border: solid 2px #41403E;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.button:hover {
	color: #000;
	background: rgb(235, 231, 231);
}