.buttons {
  display: inline-flex;
  gap: 1em;
  width: 100%;
}

.button {
  font-family: xkcd-script;
  font-size: 1em;
  font-weight: bold;
  padding: 0.6em;
  background: rgba(0, 0, 0, 0.03);
  color: rgb(40, 40, 40);
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  width: 100%;

  /* Thanks to https://codepen.io/tmrDevelops/pen/VeRvKX*/
  border: solid 2px #41403e;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.button::after {
  font-size: calc(1em * 0.6);
  content: attr(description);
  display: flex;
  color: rgb(80, 80, 80);
  justify-content: center;
}

.button:hover {
  color: #000;
  background: rgb(235, 231, 231);
}
