.select {
	background: #fff;
	padding: .8em;
	min-width: 40%;
	display: inline-flex;
    justify-content: space-evenly;
}

.button {
	background: none;
	border: none;
	color: rgb(40, 40, 40);
	cursor: pointer;
	font-family: xkcd-script;
	font-size: 1.2em;
	outline: none;
}