.container {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  font-size: 1.2em;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}

.dialog {
  background: #fff;
  padding: 1em;
  min-width: 50%;
  max-width: 80%;

  /* Thanks to https://codepen.io/tmrDevelops/pen/VeRvKX*/
  border: solid 2px #41403e;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.dialog_title {
  font-size: 1.2em;
  letter-spacing: 0.2em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.dialog_description {
  font-size: 0.8em;

  display: block;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
}
