.keyboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.button {
	font-size: 1.3em;
	margin: 0.20em;
	padding: 0.5em;
	cursor: pointer;
	background: none;
	font-family: xkcd-script;
	border: none;
	text-transform: capitalize;
}