body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
}

@font-face {
	font-family: xkcd-script;
	src: 
		url('/src/xkcd-script.woff') format('woff'),
		url('/src/xkcd-script.ttf') format('ttf')
	;
}

.container {
	font-size: 16px;
	font-family: xkcd-script;
}

.title {
	margin: .8em 0;
	padding-left: 1em;
}